:root {
  --font-size: 16px;
  --background: #ebf5ff;
  --foreground: #0a0d12;
  --card: #fafdff;
  --primary: #181d27;
  --secondary: #cce7ff;
  --muted: #f6f7f8;
  --muted-foreground: #93979f;
  --radius-card: 32px;
}

html {
  font-size: var(--font-size);
}
