@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/theme.css";

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #ebf5ff;
  color: #0a0d12;
  font-family: "Inter", "Geist", system-ui, sans-serif;
  @apply antialiased;
}
